/*#pirate-ship {
  position: absolute;
  left: 0;
  top: 50;
}

#move-pirate-ship {
  height:40px;
  width:100px;
}*/



#easy-maze-p1 .row {

  clear:both;
}

#easy-maze-p2 .row {

  clear:both;
}

.row > div{

  width:2em;
  height: 2em;
  float:left;

}

.hedge{
  background-color: green;
}

.path{
  background-color: chartreuse;
}

.hidden{
  display: none;
}


