/*#pirate-ship {
  position: absolute;
  left: 0;
  top: 50;
}

#move-pirate-ship {
  height:40px;
  width:100px;
}*/


#easy-maze .row {

  clear:both; /*makes each row go underneath each other*/
}

.row > div{ /*styles all the children of the row*/

  width:2em;
  height: 2em;
  float:left;

}

.hedge{
  background-color: green;
}

.path{
  background-color: yellow;
}

.active{
  background-color:red;
}




